services:
  mongodb:
    build: 
      context: ./mongodb
      dockerfile: Dockerfile
    image: azharmd/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db
  rabbitmq:
    build: 
      context: ./rabbitmq
      dockerfile: Dockerfile
    image: azharmd/rabbitmq:v1
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
      - rabbitmq:/var/lib/rabbitmq
  redis:
    build: 
      context: ./redis
      dockerfile: Dockerfile
    image: azharmd/redis:v1
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    build: 
      context: ./mysql
      dockerfile: Dockerfile
    image: azharmd/mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  
  catalogue:
    build: 
      context: ./catalogue
      dockerfile: Dockerfile
    image: azharmd/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  user:
    build: ./user
    image: azharmd/user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis

  cart:
    build: ./cart
    image: azharmd/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue
  shipping:
    build: ./shipping
    image: azharmd/shipping:v1
    container_name: shipping
    depends_on:
      - cart
      - mysql
  payment:  
    build: ./payment
    image: azharmd/payment:v1
    container_name: payment
    depends_on:
      - cart
      - user
      - rabbitmq
  frontend:
    build: ./frontend
    image: azharmd/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false

volumes:
  mongodb:
  redis:
  rabbitmq:
  mysql:
